{
  "presets": [
    "@babel/preset-react",
    ["@babel/preset-stage-1",
    {
      "pipelineProposal": "minimal",
      "decoratorsLegacy": true
    }]
  ],
  "plugins": ["react-hot-loader/babel"]
}
